[Desktop Entry]
Type=Application
Name=Emby Client+
Comment=Emby client with SVP frame interpolation
Exec=embyclientplus
Icon=io.github.krakerz.EmbyClientPlus
Terminal=false
Categories=AudioVideo;Video;Player;
Keywords=emby;media;video;svp;
StartupWMClass=io.github.krakerz.EmbyClientPlus
